services:
    fervo_enum.form_guesser:
        class: Fervo\EnumBundle\Form\EnumTypeGuesser
        public: true
        arguments:
            - "@?doctrine"
            - "%fervo_enum.form_type_classes%"
        tags:
            - { name: form.type_guesser }

    fervo_enum.twig_extension:
        class: Fervo\EnumBundle\Twig\EnumExtension
        public: false
        arguments:
            - "@translator"
            - "%fervo_enum.enum_map%"
        tags:
            - { name: twig.extension }

    fervo_enum.jms_serializer.enum_handler:
        class: Fervo\EnumBundle\JMSSerializer\EnumHandler
        public: true

    fervo_enum.param_converter:
        class: Fervo\EnumBundle\ParamConverter\EnumParamConverter
        tags:
            - { name: request.param_converter, converter: enum }

    fervo_enum.enum_type:
        class: Fervo\EnumBundle\Form\EnumType
        arguments:
          - "%fervo_enum.enum_map%"
          - "%fervo_enum.fqcn_choice_label_prefix%"
        tags:
            - { name: form.type }

